@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #3eadeb 0%, #002642 100%);

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 38px;
  backdrop-filter: blur(29px);
  background: #00ffe51a;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffffff;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 357px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 30px 32px;

  border-radius: 0px 0px 16px 16px;
  gap: 16px;
  background: #ffffff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #000000;

  padding: 3px 8px 3px 8px;
  background: #00ffe5;
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px 0px #0000001a, 0px 4px 4px 0px #0000000d,
    0px 1px 0px 0px #0000000d;
  border-radius: 8px;
}
.navigation__link:hover,
.navigation__link:focus {
  background: #00b2ff;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
  }
  .header {
    width: 100%;

    height: 48px;
    padding: 12px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 58px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 320px;
  height: 287px;

  padding: 67px 48px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero\ page\ mobile.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 141px;
  height: 77px;
}

.home-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 17px 0px 18px 0;
}
.home__google-button_link {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1200px;
    height: 684px;

    padding: 120px 350px 0px;
    background-image: url("/img/home/hero\ page.png");
  }

  .home-title {
    width: 356px;
    height: 195px;
  }

  .home-text {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 24px 0 32px;
  }
  .home__google-button_link {
    margin: 0;
  }
}
.about {
  padding: 80px 16px;
  margin: auto;
  width: 375px;
}
.about-title-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.about-title-img {
  width: 58px;
  height: 45px;
}
.about-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-container {
  padding-top: 24px;
  width: 280px;
  margin: auto;
}
.about-text-bold {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  gap: 24px;
}
.about-img {
  width: 280px;
  height: 522px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Mockup-1\ \(1\).png");
  margin: 25px auto 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 96px 0 0px;
    margin: auto;
    width: 1440px;
  }

  .about-title-img {
    width: 76.7px;
    height: 59.44px;
  }
  .about-title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-container {
    padding: 32px 46px 0 50px;
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 13px;
    align-items: start;
    justify-content: start;
  }
  .about-text-bold {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 713px;
  }
  .about-list {
    width: 713px;

    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    gap: 40px;
  }
  .about-img {
    width: 378px;
    height: 619px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/Mockup-1.png");
    margin: 0;
  }
}
.how {
  width: 375px;

  margin: auto;
  padding: 56px 20px;
}
.how-container {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/call\ to\ action\ mob.png");
  width: 280px;
  height: 513px;
}

.how-text-bold {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
  padding: 0 0 314px;
}
.how-link {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 96px 45px;
  }
  .how-container {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/how/Call\ to\ Action.png");
    width: 1110px;
    height: 557px;
    padding: 41px 0 0 565px;
  }

  .how-text-bold {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
  }
  .how-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #000000;
    padding: 12px 0 24px 0px;
  }
  .how-link {
    margin: 0;
    margin-left: 120px;
  }
}

.why {
  margin: auto;
  width: 375px;
}
.why-container {
  margin: auto;
  width: 294px;
  height: 889px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Game\ Atmosphere\ mob.png");
}
.why-text {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .why {
    margin: auto;
    width: 1440px;
    padding-top: 96px;
  }
  .why-container {
    margin: auto;
    width: 1108px;
    height: 741px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/Game\ Atmosphere.png");
  }
  .why-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 0px 0 385px;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 60px 0px 0 16px;
}

.reviews-list {
  width: auto;
  padding-top: 24px;

  margin: auto;
}
.reviews-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 280px;
  height: 264px;
  padding: 16px 12px 16px 12px;
  gap: 24px;
  border-radius: 16px;
  background: #0094ff;
  box-shadow: 0px 2px 4px 0px #006cfc, inset 0px 2px 3.9px 0px #0057ff;
}

.reviews-text-bold {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000000;
}
.reviews-text {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 138px;
  padding: 7px 0;
}
.reviews-item-star {
  width: 136px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    margin: auto;
    padding: 106px 42px;
  }

  .reviews-list {
    width: auto;
    padding-top: 32px;

    margin: auto;
  }
  .reviews-item {
    margin: 0 10px;
    width: 450px;
    height: 191px;
    padding: 16px 12px 16px 12px;
  }

  .reviews-text-bold {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text {
    width: 306px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.gallery {
  width: 375px;

  margin: auto;
  padding: 60px 0 0 0px;
}

.gallery__list {
  width: 330px;
  width: auto;
  padding-top: 40px;

  margin: 0;
}
.gallery__item {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0 8px;
  height: 600px;
}
.gallery-text-bold {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px 30px 22px;

  height: 81px;
  gap: 0px;
}
.gallery-item-img {
  overflow: hidden;
  position: relative;
  width: 282px;
  height: 500px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__image-two {
  width: 282px;
  height: 137px;
  overflow: hidden;
  position: relative;
}
.gallery-pudding {
  padding-top: 52px;
}
.gallery-item-three {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 60px 46px;
  }

  .gallery__list {
    width: 1350px;

    padding-top: 40px;

    margin: 0;
  }
  .gallery__item {
    width: 356px;
    height: 822px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0 12px;
  }
  .gallery-text-bold {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 292px;

    padding: 8px 0px 22px;
    margin: auto;
    height: 81px;
  }
  .gallery-item-img {
    overflow: hidden;
    position: relative;
    width: 356px;
    height: 699px;
  }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .gallery__image-two {
    width: 699px;
    height: 343.59px;

    overflow: hidden;
    position: relative;
  }
  .gallery-pudding {
    padding-top: 0px;
  }
  .gallery-text-two {
    padding: 0;
    height: 54px;
  }
  .gallery-item-two {
    display: none;
  }
  .gallery-item-three {
    display: flex;
    width: 699px;
    height: 843px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 0;
  }
}

.footer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/footer/footer\ mobail.png");
  width: 320px;
  height: 144px;
  margin: auto;
  color: #ffffff;
  padding: 74px 0 10px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000000;
}

.footer-copyright {
  color: #000000;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 70px 46px 30px;
    width: 1199px;
    height: 245px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/footer/footer.png");
  }
  .footer-img {
    display: flex;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    gap: 75px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 22px;
  }
  .footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer-copyright {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 160px 16px 80px;
  background-color: #fefefe;
  color: #000000;
}
.policy-terms-title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #00395a;
}

.policy-terms-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #00395a;

  padding-top: 32px;
}
.policy-terms-texts {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-top: 8px;
  padding-left: 25px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #485fc7;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Onest;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 900;
    line-height: 78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
